/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */      


body {
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
-webkit-text-size-adjust: 100%;
}

.Title {
  position: absolute;
  top: 30px;
  left: 30px;
} 

main {
  display: block;
  max-width: 100%;

}

/* notes, credits, etc.. */
#stage {
  background:
  #3FEEE3;
  height: 300px;
  width: 600px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

 /* Styling by Professor Colin P. Manikoth [https://codepen.io/manikoth]  */
input {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px
rgba(0, 0, 0, 0.08);
border: 1px solid
#aaa;
display: block;
padding: 1em;
margin: 2em auto;
outline: none;
line-height: 2em;
width: 80%;
}

#search {
text-align: center;
padding: 5px;  

}

/* Styling by Professor Colin P. Manikoth [https://codepen.io/manikoth]  */
button {
	display: inline-block;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: .5em 1em;
	text-align: center;

}

/* Attribute: borrowed & adapted/adjusted/duped animated 'Musical Notes' #STAGE from: CodePen acct Vladislav
@Schepotin at: https://codepen.io/Schepotin/pen/GrWJzr */

.note-amination {
  position: absolute;
  font-size: 33px;
  color: #FF007F;
  animation-name: notes;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
  z-index: 1;
}

.note-position-1 {
  top: 150px;
  left: 20px;
}

.note-position-5 {
  top: 185px;
  right: 115px;
}

.note-position-2 {
  top: 180px;
  left: 35px;
}

.note-position-6 {
  top: 180px;
  right: 50px;
}

.note-position-3 {
  top: 175px;
  left: 65px;
}

.note-position-7 {
  top: 180px;
  right: 80px;
}

.note-position-4 {
  top: 170px;
  left: 85px;
}

.note-position-8 {
  top: 170px;
  right: 30px;
}

.animation-delay-1 {
  animation-delay: .5s;
}

.animation-delay-2 {
  animation-delay: 1s;
}

.animation-delay-3 {
  animation-delay: 2s;
}

/* Music Notes Scaling Small to Large */
@keyframes notes {
  0% {
    font-size: 5px;
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    font-size: 35px;
    margin-top: -185px;
    opacity: 0; 
  }
}


/* Guitar Vectors/svg designed by Erik Stewart-Smith in illustrator & Figma | Credit for Float animation: Codepen user viola
@imvi at: (https://codepen.io/imvi/pen/RKprNB) */
#FlyingV {
  position: absolute;
  top: 16px;
  left: -194px;
  display: flex;
  height: 85%;
  width: 85%;
 animation: floating 2s ease-in-out 0s infinite alternate;
}

/* Guitar Amp Stack svg designed by Erik Stewart-Smith in illustrator & Figma | Credit for 'pulse' to 'ALL Animation' at: (https://all-animation.github.io/assets/css/all-animation.css) */
#MegaStack {
  position: absolute;
  bottom: 0;
  right: -8px;
  top: 25px;
  display: flex;
  height: 90%;
  width: 85%;
  max-width: 160px;
-webkit-animation: pulse infinite alternate linear 2s;
-moz-animation: pulse infinite alternate linear 2s;
-ms-animation: pulse infinite alternate linear 2s;
-o-animation: pulse infinite alternate linear 2s;
animation: pulse infinite alternate linear 2s;
opacity: 1 !important;
visibility: visible !important;
}

/* Source typeface translated from retro 80s font: Arcade Machine for personal & educational use */
#GOOGLE {
position: absolute;
top: -10px;
display: flex;
height: 70%;
max-width: 390px;
right: 135px;
padding-left: 88px;
padding-top: 35px;
z-index: 1;
}


/* for: #FlyingV floating */
@keyframes floating {
0% {top: 16px;}
100% {top: 36px;}
} 

/* for: #MegaStack pulse */
@-webkit-keyframes pulse {
0% {
  -webkit-transform: scale(1);
}
100% {
  -webkit-transform: scale(1.05);
}
}
@-moz-keyframes pulse {
0% {
  -moz-transform: scale(1);
}
100% {
  -moz-transform: scale(1.05);
}
}
@-ms-keyframes pulse {
0% {
  -ms-transform: scale(1);
}
100% {
  -ms-transform: scale(1.05);
}
}
@-o-keyframes pulse {
0% {
  -o-transform: scale(1);
}
100% {
  -o-transform: scale(1.05);
}
}
@-moz-keyframes pulse {
0% {
  transform: scale(1);
}
100% {
  transform: scale(1.05);
}
}
@-webkit-keyframes pulse {
0% {
  transform: scale(1);
}
100% {
  transform: scale(1.05);
}
}
@-o-keyframes pulse {
0% {
  transform: scale(1);
}
100% {
  transform: scale(1.05);
}
}
@keyframes pulse {
0% {
  transform: scale(1);
}
100% {
  transform: scale(1.05);
}
}

/* saved for when start transitions/animations of svgs
#stage:hover h1 {
  background: #FF4EFF;
} */