/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */      
/* Doodle Stage FF007F  */


body {
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
-webkit-text-size-adjust: 100%;
}

.Title {
  position: absolute;
  top: 30px;
  left: 30px;
} 

main {
  display: block;
  max-width: 100%;

}

/* notes, credits, etc.. */
#stage {
  background:
  #3FEEE3;
  height: 300px;
  width: 600px;
  overflow: visible;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

 /* Styling by Professor Colin P. Manikoth [https://codepen.io/manikoth]  */
input {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px
rgba(0, 0, 0, 0.08);
border: 1px solid
#aaa;
display: block;
padding: 1em;
margin: 2em auto;
outline: none;
line-height: 2em;
width: 80%;
}

#search {
text-align: center;
padding: 5px;  

}

button {
	display: inline-block;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: .5em 1em;
	text-align: center;

}

/* Guitar Vectors/svg designed by Erik Stewart-Smith in illustrator & Figma */
#FlyingV {
position: absolute;
    top: 54px;
    display: flex;
    height: 80%;
    width: 80%;
    max-width: 140px;

}

/* Guitar Amp Stack svg designed by Erik Stewart-Smith in illustrator & Figma */
#MegaStack {
    position: absolute;
    bottom: 0;
    right: -8px;
    top: 25px;
    display: flex;
    height: 90%;
    width: 85%;
    max-width: 160px;
}

/* Each Letter Specified w/InternalCSS in the SVG layers/file for targeting in animations/transitions; Source typeface translated from retro 80s font: Arcade Machine for personal & educational use */
#PlayMe {
    position: absolute;
    left: 5px;
    top: -16px;
    display: flex;
    height: 30%;
    width: 60%;
    max-width: 150px;
}

/* Each Letter Specified w/InternalCSS in the SVG layers/file for targeting in animations/transitions; Source typeface translated from retro 80s font: Arcade Machine for personal & educational use */
#GOOGLE {
  top: -20px;
  display: flex;
  height: 70%;
  max-width: 380px;
  right: 0;
  padding-left: 88px;
  padding-top: 44px;
}

/* NEED to do this for each SVG: #PlayMe, #GOOGLE, #MegaStack, #FlyingV*/
@media screen and (max-width: 480px) { 
    #stage {
      height: 150px;
      width: 300px;
}
   

}

/* saved for when start transitions/animations of svgs
#stage:hover h1 {
  background: #FF4EFF;
} */